<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WinTrackerDB" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=WorkTracker;Persist Security Info=True;User ID=WTUser;Password=10ta9c" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		
		<add key="LogPath" value="p:\WinTracker" />
		<add key="BackupLogPath" value="c:\WinTracker" />
		<add key="LogFileName" value="Logg.txt" />
		<add key="CaptureStoragePath" value="\{today}\{timestamp}.png" />
		<add key="ImageStore" value="p:\WinTracker\{0}\{1}" />
		<add key="BackupImageStore" value="c:\WinTracker\{0}\{1}" />

		<add key="Interval" value="1000" />     <!-- (Milliseconds) -->
		<add key="TimeInWindow" value="30" />    <!-- (Seconds) -->
	</appSettings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>